input {
  margin-top: 0.5em !important;
}

#ingredients {
  max-width: 35rem !important;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-bottom: 2px solid red;
}

#ingredient-cancel-btn {
  margin-top: 7px;
}

#save-update-btn,
#cancel-btn {
  margin-left: 15px;
}

@media only screen and (min-width: 992px) {
  #edit-comp {
    border-right: 3px solid darkgrey;
  }
}
