.main-container {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  margin-top: 20%;
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid red;
}

button {
  width: 14rem;
  margin-bottom: 5px;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
